$fontName: "Noto Sans KR", sans-serif;
.company {
  position: relative;
  margin-top: 200px;
  .inner {
    .company-wrap {
      h2 {
        font: {
          size: 47px;
          weight: 500;
          family: $fontName;
        }
        padding: 40px 0;
        line-height: 1.3;
        color: #000;
        text-align: center;
        letter-spacing: -0.5px;
      }
      p {
        font: {
          size: 17px;
          family: $fontName;
        }
        text-align: center;
        line-height: 1.6;
        letter-spacing: -0.3px;
        margin-bottom: 30px;
      }
      @at-root .company-list {
        display: grid;
        .company-box {
          position: relative;
        }
      }
    }
  }
}
