.goods{}
.goods .inner{
    display: flex;
}
.goods-wrap{
    display:flex;
    justify-content: space-between;
    padding: 130px 0; 
}
.goods-menu{
    width: calc(100% - 66.66%);
    padding-left:210px;
}
.goods-title{
    font-size: 47px;
    line-height: 1.3;
    color: #000;
    letter-spacing: -0.5px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight:700;
    margin-bottom:40px;
}
.goods-title strong{
    color:#0072ff;
}
.goods-desc{
    font-size: 17px;
    line-height: 1.6;
    color:#777;
    font-family: "Noto Sans KR", sans-serif;
    font-weight:400;
    margin-bottom:80px;
}
.goods-list{

}
.goods-list li{

}
.goods-list li a{
    display:block;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size:17px;
    line-height:1.6;
    color:#777;
}
.sw-goods-control{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
}
.sw-goods-control button{
    border: 0;
    background: transparent;
    cursor:pointer;
    font-size: 30px;
    color:#000;

}
.sw-goods-prev{}
.sw-goods-pause{

}
.sw-goods-pause i{
    font-size: 10px;
    color: #000;
    padding:10px;
}
.sw-goods-next{}
.goods-slide{
    width:66.66%;
}
.sw-goods{

}
.good-link{
    display:block;
    padding: 30px;
}
.good-item{
height:550px;
overflow: hidden;
background:#fff;
border-radius:22px;
box-shadow:0 6px 31px 2px rgba(0, 0, 0, 0.2);
}
.good-item-img{}
.good-item-img img{}
.good-item-txt{}
.good-item-txt p{}
.good-item-txt span{}