@charset "utf-8";
@import url(layout.css);
@import url(header.css);
@import url(visual.css);
@import url(goods.css);
@import url(company.css);
@import url(news.css);
@import url(info.css);
@import url(footer.css);
@import url(font.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}
ul{
    list-style: none;
}
a{
    color:#000;
    text-decoration: none;
}
img{
    border:0;
    vertical-align: middle;
}
html{
    font-size:16px;
}
body{
    font-size:1rem;
}
/* 공통 클래스 */
.inner{}
.wrap{}
/* header */
.header{}
/* visual */
.visual{}
/* goods */
.goods{}
/* company */
.company{}
/* news */
.news{}
/* info */
.info{}
/* footer */
.footer{}
